* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden; /* Prevent body overflow */
  font-family: Arial, sans-serif;
}

body {
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  margin-left: 40px; margin-right: 40px;
  padding: 5px;
  border: 3px solid black;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
}

.dashedButton {
  border: 3px dashed #8e95d1;
  stroke-dasharray: 8;
}

.solidButton {
  border-color: transparent; /* remove the border's colour */
  box-shadow: 0 0 0 4px black; /* emulate the border */
}

button:hover {
  font-weight: 600;
}

#attemptsCounter {
  font-size: 1.75em;
  font-weight: bold;
  text-align: right;
  padding-right: 42px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full viewport height */
  width: 100%; /* Full viewport width */
  overflow: hidden; /* Ensure content stays within the viewport */
}

.text-above, .text-below {
  flex-shrink: 0; /* Prevent shrinking */
  padding-top: 2em;
  padding-bottom: 2em;
  height: 10em;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Allow it to take available space */
  width: 100%; /* Full width for centering */
  max-height: calc(100% - 10em); /* Subtract text height (above and below) */
}

svg {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.background {fill:white}
.labelText {font-size: 1em; user-select: none;}
.labelBackground {fill: rgb(211, 198, 198); rx:10px; stroke:black; stroke-width: 2px;}
.connectorLine {stroke:#000; stroke-width:5px; stroke-linecap:round; }
.pencilLine {stroke:#8e95d1; stroke-width:1.5px; stroke-linecap:round; stroke-dasharray: 8;}
.xCounterText {font-size: 1.8em; font-weight: 600; user-select: none;}
.xCounterTextSubtitle {font-size: 0.9em; font-weight: 500; user-select: none;}

.tutorialTitle {font-size: 2em; font-weight: 600; user-select: none;}
.tutorialTextSmall {font-size: 0.8em; font-weight: 600; user-select: none;}
.tutorialText {font-size: 1em; font-weight: 600; user-select: none;}
.dividingLine {stroke:#000; stroke-width:2px; stroke-linecap:round; }
.tutorialBox {fill: rgb(211, 212, 224); stroke-width: 5; stroke: rgb(189, 189, 209); stroke-linejoin:round; }